/******************
ESTILOS DE TIPOGRAFIAS
*******************************/

// Google Fonts
@font-face {
    font-family: "Megrim-Regular";
    src: url("../fonts/megrim/Megrim-Regular.ttf") ;
}

// Font Variables
.cabecera {
    font-family: Megrim-Regular;
}